<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="https://fonts.google.com/specimen/Tangerine">
  <title>Free Willing</title>
</head>


<body>
  <div class="container">

    <header>
      <h2>Free Willing - Have the free will to make a will today!</h2>
      <p>Your peace of mind wills it so!</p>
    </header>
<br>
    <div class="bodyContainer">

      <div id="itemContainer">
      <p>Unfortunately none of us will live forever (yet). Your loved ones may not know what you'd like to do with your favourite things or your money when you are no longer of this world (it's hard to make decisions when you are dead). </p>
      </div>
      
      <div id="didYouKnow">
      <p>Did you know that if your assets are over $15,000 <a href="http://www.legislation.govt.nz/regulation/public/2009/0070/latest/DLM1934408.html">(prescribed amount in law)</a>,
        then you will need a will to help your executor/administrator (person administrating your estate) save on legal costs?
        When you die, your executor/administrator will need to apply to the High Court for either Probate (when there's a
        valid will) or Letter of Administration (when there's no will). Lawyers generally charge more for Letter of Administration,
        so it also makes financial sense to have a will! </p>
      </div>

      <div id="itemContainer">
      <p>A will is a legal document you sign while you are alive so your executor (someone who will step into your shoes to
        wrap up your finances, properties and things) will know what your wishes are. Your executor could be anyone (as long
        as they are an adult): your child, your spouse, your best friend etc. So it's important to be clear about what you
        want (in order to make your executor's job easier).</p>
      </div>

      <div id="usefulWeb">
      <p>Here are some great websites if you are interested in learning more about wills:</p>
      <ul>
        <li><a href="https://www.lawsociety.org.nz/__data/assets/pdf_file/0019/69220/Making-a-Will-19-Mar-2013-WS.pdf">Law Society's Guide to Making A Will</a></li>
        <li><a href="http://communitylaw.org.nz/community-law-manual/chapter-22-wills/what-this-chapter-covers-chapter-22/">Community Law's website</a></li>
        <li><a href="http://www.cab.org.nz/vat/fp/d/pages/wills.aspx">Citizen Advice Bureau's website</a></li>
        <li><a href="https://www.consumer.org.nz/articles/wills">Consumer's website</a></li>
        <li><a href="https://sorted.org.nz/guides/wills">Sorted.org's website</a></li>
      </ul>
      </div>

      <div id="itemContainer">
      <p>REMEMBER: a will can be challenged (by anyone who feels entitled to your estate). This means you might not have your
        wishes carried out if it can be challenged. So keep in mind the possible people who might challenge your will when
        you are writing it. An example of people who might challenge a will are:</p>
      <ul>
        <li>children from a previous relationship</li>
        <li>someone you have had a serious relationship with (regardless whether you are married and/or have kids with this person)</li>
        <li>children (natural or adopted) that you have left out of your will</li>
        <li>someone you have promised to give something to when you die</li>
        <li>things that you aren't normally allowed to do by law</li>
      </ul>
      </div>

    </div>




      <div class="createButton">
      <button onclick="location.href='/newWill';">Create Your Free Will</button>
    </div>
    <br>
    <footer>Disclaimer: the general information on this page is not intended to provide you with any legal advice (because only lawyers
      can give 'legal advice'). If you are a lawyer, don't be unethical and use this template to sell wills for a profit.
      Copyright &copy; 2018 Judy Ting-Edwards </footer>

  </div>

</body>

</html>