body {
    width: 100%;
    height: 100vh;
    background: url('/background.jpg') no-repeat; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  } 

 .container{
   width:100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(164, 158, 147, 0.90);
   padding: 3rem;
 }
 
header {
    text-align: center;
    font-style: italic;
 }

.h2 {
    color: #212020;
    font-size: 3em;
    font-family: 'Tangerine' serif;
}
ul {
    text-align: left;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
}

#itemContainer {
    flex-direction: row;
    align-items: right;
    height: 100%;
    width: 70%;
}

/* .hide {
    display: none;
} */

#usefulWeb {
    flex-direction: row;
    align-items: left;
    height: 100%;
    width: 30%;
    padding: 1rem;
    background-color: #ccc;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0 0 #aaa;
}

 footer {
    font-style: italic;
    padding: 2rem;
    background-color: #ccc;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0 0 #aaa;
 }